<!-- Макет страницы по умолчанию. -->
##@Output
<html>
<head>
<!-- Заглавие страницы. -->
<title>{{Title glue=" &laquo; " lskip="0" reverse="yes"}}</title>
<!--/ Заглавие страницы. -->
</head>
<body bgcolor="silver" text="#000000" link="#00639C">
  <table height=100% cellpadding=5 cellspacing=0 width=100% border=0>
    <tr height="1">
      <td colspan="4">
        <!-- "Хлебные крошки". -->
        <h1>{strip}
        {t_component src="Templier_Blocks" name="blocks" block="Title"}
          {foreach from=$blocks item="t" key="i"}
            {if $i gt 0} &raquo; {/if}
            {if $t.context.current }
              <b>{$t.value}</b>
            {else}
              <a href="{$t.context.uri}">{$t.value}</a>
            {/if}
          {/foreach}
        {/t_component}
        {/strip}</h1>
        <!--/ "Хлебные крошки". -->
      </td>
    </tr>
    <tr valign="top">
      <td width="25%">
        <!-- Карта подраздела. -->
        <h2>Другие статьи:</h2>
        {t_component src=Templier_Menu name=menu title=Title order=Order}  
          {if not $menu.root}
            <li><a href="..">.&nbsp;.</a>
          {/if}
          {foreach from=$menu.elements item="page" key="i"}
            <li>
            {if $page.context.current }
              <b>{$page.title}</b>
            {else}
              <a href="{$page.context.uri}">
                {if $page.context.isdir}
                  <i>{$page.title}...</i>
                {else}
                  {if $page.context.active }
                    <b>{$page.title}</b>
                  {else}
                    {$page.title}
                  {/if}
                {/if}
              </a>
            {/if}
          {/foreach}
        {/t_component}
        <br /><br /><br /><br />
        <hr>
        <!--/ Карта подраздела. -->
        <!-- Вывода статистики сжатия и времени работы. -->
        <font size="-1">
          {include file="gz.htm"}<br />
          {include file="gentime.htm"}<br />
        </font>
        <!--/ Вывода статистики сжатия и времени работы. -->
      </td>
      <td width="1">
        <table cellpadding=0 cellspacing=0 border=0 height=100%><tr>
          <td width="1" bgcolor="gray"><div style="width:1"></div></td>
          <td width="1" bgcolor="white"><div style="width:1"></div></td>
        </tr></table>
      </td>
      <td width="800%">
        <!-- Основной текст страницы. -->
        <h2>{{Title}}</h2>
        {{Text}}
        <!--/ Основной текст страницы. -->
      </td>
    </tr>
    <tr height="1">
      <td colspan="4">
        <!-- Завершающая строка страницы. -->
        <hr>
        &copy; {$smarty.now|date_format:"%Y"}, {{Author}}.
        <!--/ Завершающая строка страницы. -->
      </td>
    </tr>
  </table>
</body>
</html>