[mysqld]
bind-address=127.0.0.1
tmpdir=/tmp
character-sets-dir=/usr/local/mysql/share/charsets
default-character-set = cp1251
init-connect = "set names cp1251"
skip-character-set-client-handshake
basedir = /usr/local/mysql/
datadir = /usr/local/mysql/data/

